<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Orso Lista Mayorista</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header>
    <div class="container">
      <img src="images/orso.png" alt="Logo de la marca" class="logo">
    </div>
  </header>

  <main>
    <div id="app" class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo-principal">Productos</h1>
          <span class="subtitulo">Compra mínima Mayorista: $ {{ calcularCompraMinima() }}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2 class="subtitulo2">Dolar: $ {{ dolarVenta }}</h2>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Presentación</th>
            <!-- <th>Precio sugerido en dólares</th>
            <th>Precio mostrador sugerido</th> -->
            <th>Precio mayorista</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(producto, index) in productos" :key="index">
            <td><img :src="producto.imagen" :alt="producto.nombre" class="producto-imagen"></td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.presentacion }}</td>
            <td>u$d {{ producto.precioDolares.toLocaleString('es-AR', { minimumFractionDigits: 2 }) }}</td>
            <td>$ {{ calcularPrecioPesos(producto.precioDolares)}}</td>
            <td>$ {{ calcularPrecioMayorista(producto.precioDolares).toLocaleString('es-AR', { minimumFractionDigits: 2
              }) }}</td>
              <td>
                <select v-model="producto.cantidad" @change="calcularTotalPedido">
                  <option v-for="cantidad in cantidades" :value="cantidad">{{ cantidad }}</option>
                </select>
              </td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-12">
          <h3>Total del pedido: $ {{ totalPedido.toLocaleString('es-AR', { minimumFractionDigits: 2 }) }}</h3>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <div class="footer-contact">
        <h4>Datos de contacto</h4>
        <ul>
          <li><a href="mailto:orso.gun.oil@gmail.com">orso.gun.oil@gmail.com</a></li>
          <li><a href="https://www.orso.com.ar">orso.com.ar</a></li>
          <li>Pedidos al WhatsApp: <a href="https://wa.me/543416289331?text=Compra%20Mayorista">341 628 9331</a></li>
        </ul>
      </div>
    </div>
  </footer>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="app.js"></script>
  <script src="https://openchat.so/chat.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    var chatConfig = {
    token: "um1YEX2fmGNkYWydobhq",
    };
    initializeChatWidget(chatConfig);
});
</script>
              
</body>

</html>