.logo {
  width: 100px;
  height: auto;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.containerprecio {
  max-width: 100%;
  /* Ajusta el ancho máximo según tus necesidades */
  font-size: 100%;
  padding: 0 15px;
  margin: 10 auto;
  float: left;
  /* Centra el contenedor en la página */
}

.producto-imagen {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.subtitulo {
  font-size: 1em;
  font-weight: normal;
  display: block;
  margin-top: auto;
  float: right;
}

.subtitulo2 {
  font-size: 0.8rem;
  font-weight: normal;
  display: block;
  margin-top: auto;
  float: right;
}

.producto-imagen {
  width: 100px;
  /* Ancho fijo */
  height: 100px;
  /* Alto fijo */
  object-fit: cover;
  /* Ajusta la imagen para que cubra completamente el espacio asignado */
}

footer {
  background-color: #f8f8f8;
  padding: 20px 0;
}

.footer-contact {
  text-align: center;
}

.footer-contact h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact li {
  margin-bottom: 5px;
}

.footer-contact a {
  color: #337ab7;
  text-decoration: none;
}

.footer-contact a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  
  .producto-imagen {
    width: 50px;
  }
  
  .subtitulo {
    font-size: 12px;
  }
  
  .titulo-principal {
    font-size: 20px;
  }
  
  .table {
    font-size: 12px;
  }
}
